@model IEnumerable<BookManagerSystem.Web.Data.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>All Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary custom-btn">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublishedDate)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning custom-btn">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info custom-btn">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger custom-btn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
